** ::before *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --backgroundcol:black;

}
body{
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
    height: 100px;
    width: 100%;
    margin: 0px;
}
.name{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.check{
    display: none;
    visibility: hidden;
   
}
